.wrapper {
  display: flex;
  margin: 45px auto;
  padding: 0 20px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 610px;
}

.controls {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.7px;
}

.column-controls {
  display: flex;
  flex-direction: column;
}

.column-controls label, .aside label {
  display: flex;
  margin-bottom: 5px;
}

.column-controls input, aside input {
  margin-right: 10px;
  width: 100px;
  opacity: 0.5;
}

.rangeCaption {
  width: 90px;
}

input[type='range'] {
  background-color: transparent;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3d92f7;
  margin-top: -4px;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: #43e5f7;
  height: 2px;
  -webkit-appearance: none;
}

input[type='range']::-moz-range-progress {
  background-color: #43e5f7;
}

input[type='range']::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/
/*input[type='range']::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type='range']::-ms-fill-upper {
  background-color: #9a905d;
}*/
