.panelRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panelRow button {
  margin: 10px;
  cursor: pointer;
}

.panelRow button.disabled {
  cursor: not-allowed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}