.panel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panel button {
  margin: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
